/* Sidebar.css */
.sidebar {
    width: 100px;
    height: 100%;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    overflow-y: visible;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    padding: 10px;
    display: flex;
    align-items: center;
}

.sidebar a {
    text-decoration: none;
    color: white;
    margin-right: 10px;
}

.sidebar span {
    opacity: 0;
    position: absolute;
    left: 93px;
    transition: all 1s ease;
}

/* Show text when hovering over a link */
.sidebar li:hover span {
    opacity: 1;
}

.sidebar li svg {
    font-size: 55px;
    transition: all 0.1s ease;
}

.sidebar svg.css-i4bv87-MuiSvgIcon-root:hover {
    color: #176b87;
    transform: scale(1.3);
}

@media screen and (max-width:1025px) {
    .sidebar li svg.css-i4bv87-MuiSvgIcon-root {
        font-size: 50px;
    }
}

@media (max-width: 768px) {
    .sidebar .css-i4bv87-MuiSvgIcon-root {
        font-size: 35px;
    }
}

@media (max-width: 500px) {
    .sidebar li:hover span {
        font-size: 10px;
    }

    .sidebar span {
        left: 73px;
    }
}