@import url("https://fonts.googleapis.com/css2?family=Lato&family=Outfit:wght@400;700&family=Poppins:wght@400;500;600;700;800&family=Prata&display=swap");

#root {
    font-family: "Poppins", sans-serif;
    background-color: #0f172a;
    color: #e2e8f0;
}