.card-group-one {
  display: flex;
  align-items: center;
  justify-content: center;
}
.card-group-two {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  background-color: #176b87;
  margin: 2rem;
  width: 456px;
  height: 233px;
  border-radius: 46px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card h1 {
  transform-style: preserve-3d;
  display: inline-block;
  transform-origin: 50% 50%;
}
