.card-group-one {
  display: flex;
  align-items: center;
  justify-content: center;
}
.card-group-two {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  background-color: #176b87;
  margin: 2rem;
  width: 456px;
  height: 233px;
  border-radius: 46px;
  color: #fff;
  display: grid;
  place-content: center;
}

.npmlogo {
  width: 100px;
}
.cardImage {
  width: 100%;
}
